
.spotLight {
  position: relative;
  //
  width: 100%;
  @include desktop {
    margin-top: -20%;
  }
  @include phone_both {
    margin-top: -40%;
  }
  div svg{
      position: relative;
    z-index: -20;
  }

  .spotLight__title {@include shadow();
    background: $pink;
    position: absolute;
    z-index: 1;
    padding-right: 2%;
    @include headingFont();
    padding-left: 5%;
    @include desktop {
      margin-top: 22%;
    }
    @include phone_both {
      margin-top: 50%;
    }
  }
}

.StuffToDo {
  position: relative;
  z-index: 1;

  div svg{
      position: relative;
    z-index: -1;
  }


  @include desktop {
    margin-top: -30%;
    width: 61%;
  }
  @include phone_both {
    margin-top: -48%;
    width: 100%;
  }

  .stufftodo__title {
    display: block;
    cursor: pointer !important;
      z-index: 9999;
          text-decoration: none;
    position: absolute;
    @include headingFont();
    @include desktop {
      margin-top: 10%;
      margin-left: 10%;
    }
    @include phone_both {
      margin-left: 25%;
      font-size: 6vw;
      margin-top: 13%;
    }
  }
}

.ThingToEat {

  div svg{
    z-index: -4;
      position: relative;

  }

  @include phone_both {
    margin-top: -28%;
  }
  @include desktop {


    margin-top: -33%;
  }

  .thingToEat__title {
      z-index: 5;
          text-decoration: none;
    @include headingFont();
    position: absolute;
    @include phone_both {
      margin-left: 1%;
      margin-top: 8%;
    }
    @include desktop {
      margin-left: 65%;
      margin-top: 6%;
      z-index: 4;
    }
  }
}

.PlaceToGo {
  div svg{
    z-index: -6;
      position: relative;

  }

  @include desktop {
    position: relative;

    margin-top: -17%;
    width: 50%;
  }
  @include phone_both {
    margin-top: -15.5%;
  }

  .placeToGo__title {
      z-index: 9999;
          text-decoration: none;
    @include headingFont();
    position: absolute;
    @include phone_both {
      margin-left: 5%;
      margin-top: 10%;
    }
    @include desktop {
      margin-left: 3%;
      margin-top: 9%;
    }
  }
}

.Muisc {
  div svg{
    z-index: -11;
      position: relative;

  }

  @include phone_both {
    margin-top: -56%;
  }
  @include desktop {
    position: relative;

    float: right;
    margin-top: -39.8%;
    width: 58.2%;
  }

  .muisc__title {


      text-decoration: none;
      z-index: 9999;

    position: absolute;
    @include headingFont();
    @include desktop {
      margin-top: 18%;
      margin-left: 13%;
    }
    @include phone_both {
      margin-top: 53%;
      margin-left: 2%;
    }
  }
}
