.comment {
  width: 100%;

  .comment--box {
    margin: 0 auto;
    width: 98%;

    .comment--userDisplayName {
      @include commentBody(-.5) ;
      //
      // font-family: 'McLaren', cursive;
      // font-size: 1.1vw;
    }

    .comment--bodyText {
        @include commentBody(-.4) ;
    }

    .comment--more {
  @include commentBody(-.1) ;
    }

    textarea {
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #C9C9C9;
      font-size: 16px;
      resize: none;
    }

    .comment--button {
      font-family: 'McLaren', cursive;
      float: right;
      right: 100px;
      border: none;
      border-radius: 4px;
      background-color: transparent;
      // margin-top:  $paddingBottom/2;
      margin-bottom: $paddingBottom;
    }
  }
}
