@include desktop{
  .phone{
  display: none;
  }
}

@include phone_both {
  .destop{
    display: none;
  }
}
.content{
  float : left;
  width: 100%;
  height: 0%;
    .content__text{
      @include headingFont();
      font-size: 8vw;
      position: absolute;
      @include desktop{
        font-size: 3.5vw;
      }
    }
  }
