.mainContent {
  width: 100%;
  background-color: $lightBlue;

  margin-top: -10%;
  @include desktop() {
    margin-top: -4%;
  }

  .mainContent__centerd {
    .mainContent__title {
      padding-top: 10%;
      @include desktop() {
        padding-top: 4%;
      }
      @include respoivePaddingLeft();
      @include headingFontContent(0);
        padding-bottom: $paddingBottom;
      }

    width: 100%;

    @include inbewtweenPhone-Table() {
      width: 90%;
      max-width: 600px;
    }

    @include desktop() {
      max-width: 900px;
    }
    margin: 0 auto;

    img {
      width: 100%;
    }

    .mainContent__tag {
  @include respoivePaddingLeft();


      padding-top: $paddingBottom;
      float: right;
      @include headingFontContent(0);
      padding-bottom: $paddingBottom;
    }

    .mainContent__divider {
      margin-top: $paddingBottom;
      border-top: black solid 1px;
      clear: both;
      display: block;
      content: " ";
      width: 100%;
      height: $paddingBottom;
    }

    .mainContent__body {
        @include respoivePaddingLeft();
    @include mainBodyText();

    }

    .mainContent__location {
        @include respoivePaddingLeft();
      float: left;
      width: 100%;
      @include headingFontContent(-.5);
    }

    .mainContent__whatThink {
      @include headingFontContent(-1.0);
      @include respoivePaddingLeft();
    }

    .mainContent__shareButtons {
      padding-top: 5px;
      float: right;
      width: 100%;
    }

    .mainContent__map {
      width: 100%;
      height: 350px;

        @include phone_both{
    height: 250px;
        }
    }
  }
}
