.footer{
  // background: black;
  width: 100%;
  float : left;
position: relative;
display: inline-block;
  .uploadButton{
    float : right;
    margin-top: 10px;
    margin-Right: 20px;
    a{  @include footer();
           color:black;
      text-decoration: none;
      font-size: 1.5vw;
    }
  }
  .footer__text{
      float : left;

width: 50%;
     color:black;
     margin-top: 10px;
     margin-left: 20px;
     margin-bottom: 10px;

    p{
        @include footer();
        &:first-child{
          font-size: 1.4vw;
        }
    }
  }
}
