.logo{
  z-index: 99999;
  background: $backgroundColor;
  // position: fixed;

  width: 100%;
    .logo__text{
        text-align: center;
        @include logo();
        margin:  auto;
        @include desktop(){
        text-align: right;
        }
        a{
          color: $orange;
          display: block;
          text-decoration: none;
        }
    }
}
