$phone-width: 414px;
$tablet-width: 768px;
$inbewtweenPhone-Table-width: 660px;
$desktop-width: 920px;
$menuBar-width: 560px;
@mixin phone_both {
   @media only screen and (max-width: #{$desktop-width}){
    @content;
  }
}
@mixin tablet {
   @media only screen and (max-width: #{$tablet-width}) and (min-width: #{$phone-width}){
    @content;
  }
}
@mixin menuBar {
   @media (max-width: #{$menuBar-width}){
    @content;
  }
}
@mixin phone {
   @media (max-width: #{$phone-width}){
    @content;
  }
}
@mixin desktop {
   @media (min-width: #{$desktop-width+1}){
    @content;
  }
}

  @mixin inbewtweenPhone-Table {
     @media only screen  and (min-width: #{$inbewtweenPhone-Table-width}) and (max-width: #{$desktop-width}){
      @content;
    }

}
