$paddingComputer: 10px;

.oknot{
  position: relative;
  z-index: 100;
}
.menu{
position: relative;
  z-index: 100;

  width: 100%;
  @include menu();

  cursor: pointer;

  ul{
    float:left;
    list-style-type: none;
    padding: 0;
    margin-top:-16%;
    @include desktop(){
      margin-top:-6%;
    }
    li{
      text-decoration-style: none;
      text-decoration: none;
      float : left;
      &:first-child{
      margin-left: $paddingComputer;

      }
      &:last-child{
    }
    }
  }
  .menu__all{
    clear : both;
    float : left;
    width: 100%;

  }
  .menu__list{
    a{
      color: $yellow;
      display: block;
      text-decoration: none;

      &:hover{
        color:white;
      }
    }
  }

  .menu__list--selected   {
      a{
      color: $orange;
    }
    }
}
