@mixin headingFont(){
font-family: 'Gochi Hand', cursive;
  @include phone_both{
  font-size:  6vw;
}
  @include desktop(){
      font-size:  3vw;
  }
}

@mixin headingFontContent($fontSize){
font-family: 'Gochi Hand', cursive;

  @include phone_both{
  font-size: $fontSize + 2.7em;
}

  @include inbewtweenPhone-Table() {
  font-size: $fontSize + 2.9em;
  }

  @include desktop(){
      font-size: $fontSize + 3.0em;
  }
}


@mixin mainBodyText() {

  font-family: 'McLaren', cursive;
  @include phone_both{
  font-size: 1.2em;
}

  @include inbewtweenPhone-Table() {
  font-size: 1.3em;
  }

  @include desktop(){
      font-size: 1.4em;
  }


}

@mixin commentBody($fontSize) {

  font-family: 'McLaren', cursive;
  @include phone_both{
  font-size: $fontSize + 1.2em;
}

  @include inbewtweenPhone-Table() {
  font-size:  $fontSize + 1.3em;
  }

  @include desktop(){
      font-size: $fontSize + 1.4em;
  }


}




@mixin logo(){
font-family: 'Bungee Shade', cursive;
font-size: 10vw;
  @include desktop(){
    font-size: 5vw;
  }
}

@mixin menu {
font-family:  'Gochi Hand', cursive;
font-size: 5vw;
@include desktop(){
  font-size: 2.8vw;
}

}

@mixin storyText(){
  padding-left: 2px;
  font-family: 'Knewave' , cursive;
  font-size: 4.5vw;
line-height: 4.5vw;
@include desktop(){
  font-size: 2.3vw;
  line-height: 2.3vw;
}

}

@mixin storyText--tag(){


font-family: 'McLaren', cursive;

    font-size: 2.8vw;
    line-height:2.3vw;
    @include desktop(){
      font-size: 1.4vw;
        line-height:1.4vw;
    }
}
@mixin footer(){
  font-family: 'McLaren' , cursive;
  font-size: .8vw;
  }

  @mixin rotate($degree){
    -ms-transform: rotate($degree); /* IE 9 */
    -webkit-transform: rotate($degree); /* Safari */
    transform: rotate($degree);
  }

  @mixin shadow(){
    -webkit-box-shadow: -38px 33px 117px -12px rgba(0,0,0,0.62);
    -moz-box-shadow: -38px 33px 117px -12px rgba(0,0,0,0.62);
    box-shadow: -38px 33px 117px -12px rgba(0,0,0,0.62);
  }

  @mixin respoivePaddingLeft(){
    padding-left: 10px;
      padding-right: 10px;
    @include inbewtweenPhone-Table() {
padding-left: 0px;
  padding-right: 0px;
    }

  }
