@import "font";
@import "mixin";
@import "./node_modules/normalize-scss/sass/normalize";
@include normalize();

* {
  padding: 0;
  margin: 0;
}
$backgroundColor: #1196C8;
$yellow: #ECDA44;
$pink: #F447C7;
$orange: #FABD66;
$lightBlue: #29ABE2;
$paddingBottom: 20px;
@import "media.scss";
@import 'story.scss';
@import 'content.scss';
@import "menuBar.scss";
@import "footer.scss";
@import "logo.scss";
@import "colour.scss";
@import "background.scss";
@import "storySub.scss";
@import "clouds.scss";
@import "contentPage.scss";
@import "storyContent.scss";
@import "shareButtons.scss";
@import "comments.scss";
html {
  width: 100%;
  height: 100%;
  background: $backgroundColor;
}

svg {
  width: 100%;
  max-width: 100%;
}
