.Demo__some-network {
  float: right;
  vertical-align: top;
  display: inline-block;
  margin-right: 2px;
  text-align: right;
}
.Demo__some-network__share-count {
  margin-top: 3px;
  font-size: 12px;
}
.Demo__some-network__share-button {
  cursor: pointer;
}
.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}
