.story__posTop {
  z-index: 10;
  @include desktop {
    margin-top: 19%;
    margin-left: 42%;
      @include rotate(-15deg);
  }
  @include phone_both {
    margin-top: 66%;
    margin-left: 50%;
    @include rotate(-20deg);
  }
}

.story__posMiddle {
  @include desktop {
      margin-top: 30%;
      margin-left: 12%;
    @include rotate(15deg);
  }
  @include phone_both {
    margin-top: 75%;
    margin-left: 10%;
    @include rotate(25deg);

  }
}

.story__posBottom {
  @include desktop {
    margin-top: 30%;
    margin-left: 72%;
    @include rotate(20deg);
  }
  @include phone_both {
    margin-top: 33%;
    margin-left: 56%;
    @include rotate(-15deg);
  }
}

.story__doLeft {
  @include desktop {
    margin-top: 15%;
    margin-left: 10%;
    @include rotate(-5deg);

  }
  @include phone_both {
    margin-top: 25%;
    margin-left: 20%;
    @include rotate(20deg);
  }
}

.story__doRight {
  @include desktop {
    margin-top: 15%;
    margin-left: 44%;
    @include rotate(-20deg);

  }
  @include phone_both {
    margin-top: 30%;
    margin-left: 58%;
    @include rotate(-20deg);
  }
}

.story__doBottomD{
  @include desktop {
    margin-top: 30%;
    margin-left: 63%;
    @include rotate(-15deg);

  }
  @include phone_both {
visibility: hidden;
  }

}

.story__eatLeft {
  @include desktop {
    margin-top: 10%;
    margin-left: 65%;
    @include rotate(-6deg);

  }
  @include phone_both {
    margin-top: 22%;
    margin-left: 12%;
    @include rotate(15deg);
  }
}

.story__eatRight {
  @include desktop {
visibility: hidden;
    }
  @include phone_both {
    margin-top: 25%;
    margin-left: 58%;
    @include rotate(-15deg);
  }
}

.story__goLeft {
  @include desktop {
    margin-top: 22%;
    margin-left: 7%;
    @include rotate(20deg);

  }
  @include phone_both {
    margin-top: 21%;
    margin-left: 16%;
    @include rotate(21deg);
  }
}

.story__goRight {
  @include desktop {

      margin-top: 20%;
      margin-left: 47%;
      @include rotate(-20deg);

  }
  @include phone_both {
    margin-top: 16%;
    margin-left: 58%;
    @include rotate(10deg);
  }
}



.story__goLeftB {
  @include desktop {
    margin-top: 47.5%;
    margin-left: 21%;
    @include rotate(-20deg);

  }
  @include phone_both {
visibility: hidden;
  }
}

.story__goRightB {
  @include desktop {

      margin-top: 44%;
      margin-left: 60%;
      @include rotate(20deg);

  }
  @include phone_both {
visibility: hidden;
  }
}



.story__muiscLeft {
  @include desktop {

    margin-top: 25%;
    margin-left: 15%;
    @include rotate(-15deg);

  }
  @include phone_both {
    margin-top: 54%;
    margin-left: 15%;
    @include rotate(-15deg);
  }
}

.story__muiscRight {
  @include desktop {

    margin-top: 22%;
    margin-left: 50%;
    @include rotate(12deg);

  }
  @include phone_both {
    margin-top: 51%;
    margin-left: 57%;
    @include rotate(15deg);
  }
}


.story__muiscLeftB {
  @include desktop {
    margin-top: 42%;
    margin-left: 37%;
    @include rotate(10deg);
  }
  @include phone_both {
visibility: hidden;
  }
}




// .story--rotationL{
//   -ms-transform: rotate(10deg); /* IE 9 */
//   -webkit-transform: rotate(10deg); /* Safari */
//   transform: rotate(10deg);
// }


.story {
  &:hover{
    cursor: pointer;
  }
z-index: 99999;
@include shadow();
  position: absolute;
  display: block;
    @include desktop {
        width: 30%;
      }
    @include phone_both {
        width: 37%;
      }

  .story__heading {
    @include storyText();
    float: left;
    position: absolute;
    &::first-line{
          line-height: 100%;
    }
  }

  .story__tag {
    @include storyText--tag();
    float: left;
    bottom: 2%;
    padding-left: 3%;
    position: absolute;
    background: rgba($backgroundColor, 0.5);
    width: 97%;
    padding-bottom: 3%;
  }

  img {
    float: left;
    width: 100%;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($backgroundColor, 0.3);
    &:hover{
      cursor: pointer;
    }
  }
}
