.stufftodoIndex{
  width: 100%;
}

.storySub {
  &:hover{
    cursor: pointer;
  }

  float: left;
  width: 25%;
  position: relative;
@include shadow();
    @include desktop {
          width: 25%;
    }
    @include phone_both {
        width: 50%;
      }

  .storySub__heading {
    position: absolute;
    @include storyText();
    float: left;
    &::first-line{
          line-height: 100%;
    }
  }

  .storySub__tag {
    position: absolute;
    top:80%;
    background: rgba($backgroundColor, 0.5);
    width: 97%;
    height: 20%;
    padding-left: 3%;
    @include storyText--tag();
    // float: bottom;

    // // float: left;
    // // bottom: 0%;
    // // padding-left: 3%;
    // // position: absolute;
    // // background: rgba($backgroundColor, 0.5);
    // // width: 97%;
    // padding-bottom: 3%;
  }

  img {
    float: left;
    width: 100%;
  }

  &:before {
    // content: "";
    // display: block;
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background: rgba($backgroundColor, 0.3);
  }
}
